.wrapper_with_padding
	#docs.clearfix
		-unless @docs.blank?
			-@docs.each do |doc|
				%a{ href: (url_for [doc])}
					.doc
						%p.title= doc.title
						%p.content= truncate(doc.content, lenght: 70)
						.doc_date
							%p.date= time_ago_in_words(doc.created_at)
		-else
			%h2 Create Doc!
			%p start Creating Documents and Organizing your life!
			%button= link_to "Create Doc", new_doc_path

